main {
  background: #303f9f;
  height: 100vh;
  display: flex !important;
  justify-content: center;
  align-items: center;
}
.item {
  padding: 20px;
  border: 1px solid white;
  margin-top: 15px;
  display: flex !important;
  justify-content: center;
  align-items: center;
}
h1 {
  margin-top: 100px;
}
a,input,textarea {
  color: white;
}

